<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-attr-lang="{{activeLang.name}}" ng-app="dreamcases" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-attr-lang="{{activeLang.name}}" ng-app="dreamcases" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-attr-lang="{{activeLang.name}}" ng-app="dreamcases" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-attr-lang="{{activeLang.name}}" ng-app="dreamcases" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9;IE=10;IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="">
    <link rel="apple-touch-icon" href="/assets/img/icons/favicon-57.png" sizes="57x57">
    <link rel="apple-touch-icon" href="/assets/img/icons/favicon-152.png" sizes="152x152">
    <link rel="icon" type="image/png" href="/assets/img/icons/favicon-32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/img/icons/favicon-16.png" sizes="16x16">
    <link rel="alternate" href="{{lang.url | trustHref}}" ng-attr-hreflang="{{lang.hreflang}}"
          ng-repeat="lang in languages track by $index"/>
    <title ng-bind="'Flamecases | ' + seo.title">Flamecases | CS:GO open case and battle opening</title>
    <meta content="Flamecases - exclusive and best case opening website with Upgrade, Case Battles, permanent Giveaways, Daily Free cases" name="description"
          ng-attr-content="{{seo.description}}">
    <meta content="flamecases free cheap best dragon lore rare drop battle game opening items cs weapon roulette case csgo go skins site luck affiliate program profit"
          name="keywords">
    <meta property="og:title" ng-attr-content="{{'Flamecases - ' + seo.title}}"
          content="Flamecases - better than CS:GO open case, win items from the various cases of CS:GO!">
    <meta property="og:description" ng-attr-content="{{seo.description}}"
          content="Flamecases - CS:GO skins shop">
    <meta property="og:image" ng-attr-content="{{seo.ogImage ? seo.ogImage: '/assets/img/logo-social.jpg'}}"
          content="/assets/img/logo-social.jpg">
    <link rel="canonical" ng-href="{{seo.canonical}}" href="https://flamecases.com">
    <meta ng-if="!seo.hideIndex" name="robots" ng-attr-content="{{seo.index ? 'INDEX' :'NOINDEX' }},FOLLOW"
          content="NOINDEX,FOLLOW">
    <!--[if lt IE 10]>
    <script>
        window.location.href = "/browser-not-supported.html";
    </script>
    <![endif]-->
    <base href="/">
</head>
<body class="page__body" ng-controller="LayoutController" style="background-color: #15172c;">
<dream-header></dream-header>
<div ng-view></div>
<dream-footer></dream-footer>
<script src="/user/details"></script>
<script async src="/assets/js/libs.min.js?1727801422612"></script>
<script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"rayId":"93e79f2c7d19af28","serverTiming":{"name":{"cfExtPri":true,"cfL4":true,"cfSpeedBrain":true,"cfCacheStatus":true}},"version":"2025.4.0-1-g37f21b1","token":"bd95ab4c436842f19202507d35a31e9a"}' crossorigin="anonymous"></script>
</body>
</html>
<link rel="preload" href="/assets/css/style.lib.min.css?1727801422612" as="style" onload="this.onload=null;this.rel='stylesheet'">
<link rel="preload" href="/assets/css/style.min.css?1727801422612" as="style" onload="this.onload=null;this.rel='stylesheet'">

<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-88239637-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-88239637-1');
</script>
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=e3ffa600-2cc4-4eda-8c5a-cc085e773873" defer></script>
